ngb-accordion ::ng-deep .card-header {
  padding: 6em;
}

ngb-accordion ::ng-deep .card-header button {
  width: 100%;
  padding: 1.125rem 2rem;
  text-decoration: none;
  text-align: left;
  background-color: #0047ff;
}
ngb-accordion ::ng-deep .card-header button:focus {
  box-shadow: sienna;
}

.contenido{
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  text-align: center;
}

.contenido h1{
  font-size: 35px;
  font-family: "Zizou Slab Light", serif;
  color: #5d7eff;
  text-align: center;
}

.BoxItem{
  text-align: right;
  margin: -3% 0 0 0;
}

.categorias{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  color: #0047ff;
  margin-top: 1%;
}

.inicio{
  text-align: start;
  margin: 0 0 0.5% 2%;
}

.centro{
  text-align: center;
  margin: -2.3% 0 0.5% 23%;
}

.derecha{
  text-align: right;
  margin: -2.3% 8% 0.5% 0;
}

.cabecera{
  width: 100%;
  line-height: 1;
}
.titulo{
  text-align: start;
  text-overflow: ellipsis;
  width: 50%;
  white-space: nowrap;
  overflow:hidden;
}

.estado_leido{
  text-align: right;
  margin: -15px 5% 0 5%;
}

.fecha{
  text-align: center;
  margin: -15px 0 0 25%;
}

.contenido{
  width: 90%;
  font-family: "Zizou Slab Light", serif;
  text-align: start;
}

.cuerpo{
  line-height: 3em;
}
