.contenido{
  width: 100vh;
  height: 100vh;
  margin-top: 4%;
  margin-left: 4%;
}

ngb-accordion ::ng-deep .card-header {
  padding: 6em;
}

ngb-accordion ::ng-deep .card-header button {
  width: 100%;
  padding: 1.125rem 2rem;
  text-decoration: none;
  text-align: left;
  background-color: #007AFF;
}
ngb-accordion ::ng-deep .card-header button:focus {
  box-shadow: sienna;
}

.sugerencia{
  font-size: 35px;
  font-family: "Poppins", serif;
  color: #5d7eff;
  text-align: center;
}

.BoxItem{
  position: relative;
  text-align: right;
  margin: -3% 0 0 0;
}

.categorias{
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  color: #007AFF;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 8%;
}


.cabecera{
  display: flex;
  width: 100%;
}
.titulo{
  font-size: 13px;
  text-align: start;
  text-overflow: ellipsis;
  width: 42%;
  white-space: nowrap;
  overflow:hidden;
}

.estado_leido{
  font-size: 13px;
  margin-left: 33%;
}

.fecha{
  font-size: 13px;
  margin-left: 10%;
}

.contenido{
  width: 90%;
  font-family: "Poppins", serif;
  text-align: start;
}

.cuerpo{
  line-height: 3em;
}
