<div class="login">
  <form class="custom-form" method="post">
      <label>Email</label>
      <input
        type="email"
        name="email" #email
        placeholder="example@example.com"
        class="form-control"
        required="required">
      <br/>
      <label>Password</label>
      <input
        type="password"
        name="password" #password
        placeholder="******"
        class="form-control"
        pattern="[A-Za-z0-9]{6,20}">
      <br/>
      <button class="btn btn-success" (click)="logIn()">
        Log In
      </button>
  </form>
</div>
