<div class="sidebar-nav">
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container">
      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Menus List -->
      <div class="offcanvas offcanvas-start shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li><a href="/home"><i class="bi bi-people"></i> <span class="item-text">Usuarios</span></a></li>
            <li><a href="/sugerencias"><i class="bi bi-pencil-square"></i> <span class="item-text">Sugerencias</span></a></li>
            <li><a href="#"><i class="bi bi-hand-thumbs-up"></i> <span class="item-text">Recomendaciones</span></a></li>
          </ul>
        </div>
      </div>
      <h2 style="color: white"> PANEL DE ADMINISTRACION </h2>
      <ul class="nav navbar-nav navbar-right">
        <li style="align-content:center">
          <button type="submit" class="btn btn-danger" >Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
