<app-nav></app-nav>
<br><br>
<div class="container text-center mt-4">
  <input class="form-control mt-2 mb-2" type="text" [(ngModel)]="searchText"  (input)="Search()" placeholder="Search by email" />
  <table class="table table-striped table-bordered table-sm row-border hover" id="datatableexample">
    <thead style="background-color: #5d7eff">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Fecha registro</th>
        <th>Habilitar</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of listOfContacts; let item = index">
      <td *ngIf="(group.rol == 'user')">{{group.name}}</td>
      <td *ngIf="(group.rol == 'user')">{{group.email}}</td>
      <td *ngIf="(group.rol == 'user')">{{group.fechaHoraRegistro.seconds*1000 | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="(group.rol == 'user')">
        <div class="form-check form-switch">
          <div *ngIf="(group.habilitado == true)">
            <input class="form-check-input" (click)="openFormModal()" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
            <label class="form-check-label"  for="flexSwitchCheckChecked"> Habilitado </label>
          </div>
          <div *ngIf="(group.habilitado != true)">
            <input class="form-check-input" (click)="openFormModal()" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"> Desabilitado </label>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!--form modal-->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Habilitar/Desabilitar usuario</h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>¿Está seguro que desea Habilitar/Desabilitar este usuario?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 100px" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" style="width: 100px" class="btn btn-primary" (click)="saveSomeThing()">
          Si
        </button>
      </div>
    </div>
  </div>
</div>
